


body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.farme {
    width: 100%;
    height: auto;
    background-color: rgb(241, 237, 237);
    margin-bottom: 24px;
    padding: 24px;
}

.work-title {
    font-weight: bold;
    font-size: 24px;
}


#result {
    margin-top: 20px;
    font-size: 1.2em;
}

#result_equation, #result_equation_2, #result_bmi, #result_conversion {
    margin-top: 20px;
    font-size: 1.2em;
}

